<div class="div">
  <div class="div-2">
    <div class="div-3">
      <div class="div-title">
        Guardado
      </div>
    </div>
    <div class="div-4">¡Tu lista de favoritos esta vacía!</div>
    <div class="div-5">Recomendaciones</div>
    <div class="div-6">
      <img
        loading="lazy"
        src="../../assets/img/categories/bk.png"
        class="img"
      />
      <img
        loading="lazy"
        src="../../assets/img/categories/dominos.png"
        class="img-2"
      />
      <img
        loading="lazy"
        src="../../assets/img/categories/MC.png"
        class="img-3"
      />
    </div>
    <div class="div-7">
      <div class="div-8">
        <img
          loading="lazy"
          src="../../assets/img/categories/appdisc.png"
          class="img-4"
        />
        <div class="div-9">-20%</div>
        <div class="div-10">Usando la app</div>
      </div>
      <div class="div-11">
        <img
          loading="lazy"
          src="../../assets/img/categories/sofa.png"
          class="img-5"
        />
        <div class="div-12">2X1</div>
        <div class="div-13">En entretenimiento</div>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-icons">
      <a routerLink="/categories">
        <img src="../../assets/img/footer/home.png" alt="">
      </a>
      <a routerLink="/saved">
        <img src="../../assets/img/footer/selected/heartblue.png" alt="">
      </a>
      <a routerLink="/search">
        <img src="../../assets/img/footer/search.png" alt="">
      </a>
      <a routerLink="/coupons">
        <img src="../../assets/img/footer/ticket.png" alt="">
      </a>
    </div>
</footer>
</div>